.about {
    p {
        font-size: 1.5rem;
        font-weight: 300;
        padding-bottom: $spacing-unit / 2;
        em {
            font-style: normal;
            font-weight: 400;
            &.heavy {
                font-weight: 700;
            }
        }

        &.highlight {
            background-color: $brand-color;
            text-align: center;
            padding: $spacing-unit / 2;
            border-radius: 16px;
            transition: all 0.15s ease;
            
            &:hover {
                // background-color: $brand-color-dark;
                background-color: darken($brand-color, 4%);
            }
        }
    }
}
