// for feature 102-skills-newer.html (not in use)
.skills-container {
    display: flex;
    flex-direction: column;

    span:not(.tooltip) {
        color: $text-color-alt;
        font-weight: 600;
        margin-left: 16px;
        margin-bottom: 8px;
    }

    .column {
        .accordion-header {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            align-items: center;
            transition: all 0.15s ease;
            border-radius: 16px;

            padding: 16px;

            .right {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: center;

                .rating {
                    padding: 4px 8px;
                    border-radius: 8px;
                    background-color: $brand-color;
                    color: darken($brand-color-dark, 15%);
                    position: relative;

                    &:hover .tooltip {
                        opacity: 90%;
                        visibility: visible;
                    }
                }
            }
            .dropdown {
                margin-right: 8px;
                height: 32px;
                width: 32px;
                font-size: 32px;
                transition: transform 0.25s ease-out;
                display: none;
                
                @media screen and (min-width: $on-large) {
                    display: block;
                }
            }
            h3 {
                margin-top: 0;
                margin-bottom: 0;
                font-weight: 600;
                font-size: 1.25rem;
                // transform: scale(0.8);

                display: flex;
                flex-direction: row;
                align-items: center;

                i:not(.dropdown) {
                    font-size: 32px;
                    padding-right: 16px;
                }
                

                @media screen and (min-width: $on-large) {
                    font-size: 1.375rem;
                }
            }

            &:hover {
                background-color: darken($brand-color, 4%);
            }
        }

        .active {
            &.accordion-header {
                background-color: $brand-color;
                .dropdown {
                    transform: rotate(90deg);
                }

                &:hover {
                    background-color: darken($brand-color, 4%);
                }
            }
            &.accordion-content {
                margin: 16px 0;
            }
        }

        .accordion-content {
            box-sizing: border-box;
            max-height: 0px;
            overflow: hidden;
            padding: 0 16px;
            transition: all 0.2s ease-out;

            em {
                font-weight: 700;
                font-style: normal;
            }
        }
    }

    .soft-skills {
        display: flex;
        flex-wrap: wrap;
        .skill-item {
            padding: 8px 12px;
            margin: 0px 8px 8px 8px;
            background-color: $brand-color;
            height: 24px;
            border-radius: 20px;
            transition: background-color 0.3s ease-out;

            &:hover {
                background-color: lighten($brand-color-dark, 5%);
            }
        }
    }
}

// for feature 01-skills.html (currently in use)
.skills-array {
    display: flex;
    flex-direction: column-reverse;
    
    p {
        font-size: 1.5rem;
        font-weight: 300;
        padding-bottom: $spacing-unit / 2;
        em {
            font-style: normal;
            font-weight: 400;
            &.heavy {
                font-weight: 700;
            }
        }
    }
    
    span:not(.tooltip) {
        color: $text-color-alt;
        font-weight: 600;
        margin-bottom: 8px;
    }
    
    .skill-icons {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
         
        .skill-icon {
            @for $i from 1 through 10 {
                &:nth-child(#{$i}) {
                  z-index: #{10 - $i};
                }
             }
            position: relative;
            transition: transform 0.1s linear;
            min-height: fit-content;
            overflow-y: visible;
            i {
                position: relative;
                font-size: 64px;
            }
            .svg {
                position: relative;
                min-width: 64px;
                min-height: 64px;
                max-width: 64px;
                max-height: 64px;
                filter: brightness(0) saturate(100%) invert(10%) sepia(62%) saturate(6975%) hue-rotate(196deg) brightness(89%) contrast(104%);
                
                &.airflow {
                    scale: 70%;
                }
                &.xd {
                    scale: 85%;
                }
                &.photoshop {
                    scale: 85%;
                }
                &.illustrator {
                    scale: 85%;
                }
                &.premiere {
                    scale: 85%;
                }
            }
            .tooltip {
                max-width: unset;
                top: 110%;
                white-space: nowrap;
                z-index: 20;
            }
            &:hover {
                transform: translate(0px, -5px);
                i {
                    color: $brand-color-dark;
                }
                .tooltip{
                    opacity: 90%;
                    visibility: visible;
                }
                .svg {
                    filter: brightness(0) saturate(100%) invert(83%) sepia(35%) saturate(2436%) hue-rotate(300deg) brightness(117%) contrast(106%); 
                }
            }
        }
    }
}